# Web Framework
fastapi
uvicorn

# Veritabanı
sqlalchemy
psycopg2-binary

# Veri Doğrulama ve Ayarlar
pydantic
pydantic-settings

# Kimlik Doğrulama
python-jose[cryptography]
passlib[bcrypt]

# Dosya Yükleme, PDF ve Karakter Kodlaması
python-multipart
PyMuPDF
chardet

# Yapay Zeka ve Dil Tespiti
google-generativeai
langdetect

# Ortam Değişkenleri
python-dotenv